version: '3'

services:
  mariadb:
    image: mariadb/server:10.3
    restart: always
    container_name: mariadb
    hostname: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: testing
      MARIADB_PASSWORD: testing
      MARIADB_DATABASE: test
      MARIADB_HOST: "%"
      TZ: "Asia/Jakarta"
    volumes:
      - ./mydb:/var/lib/mysql
      - ./deployment/config/my.cnf:/etc/mysql/my.cnf
    ports:
      - 3306:3306
    depends_on: 
      - es 
  es: 
    image: elasticsearch:6.8.2 
    ports: 
      - "9200:9200" 
      - "9300:9300" 
    environment: 
      - cluster.name=otoraja-biz-cluster 
      - bootstrap.memory_lock=true 
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" 
      - discovery.type=single-node 
    ulimits: 
      memlock: 
        soft: -1 
        hard: -1